:root {
--main-font:'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;

/* text colors */
--main-txt-cl:#757575;
--secondary-txt-cl:#212121;
--accent-txt-cl: #2196F3; 
--next1-txt-cl: #000000;
--next2-txt-cl: #FFFFFF;

/* bacground colors */ 

--main-bg-cl: #ffffff;
--secondary-bg-cl: #2f303a;
--accent-bg-cl: #2196F3;
--next1-bg-cl:#F5F4FA;

}
/* Главная */
body {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    background-color:var(--main-bg-cl)
}
h1,
h2,
h3,
p{
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
.link {
    text-decoration: none;
    color: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    outline: 1px solid red;

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* навигация */

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-txt-cl);
}
.header-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--next1-txt-cl);
}
.item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-txt-cl);
}
.item {
    margin-right: 50px;
    display: block;
}
.link {
    padding-top: 32;
    padding-bottom: 32;
}
.item:last-child {
    margin-right: 0;
}
.list-item{
    display: flex;
    align-items: center;
}
.current {
    color: var(--accent-txt-cl);
}
.link:hover,
.link:focus {
    color: var(--accent-txt-cl);
}
.list {
    display: flex;
    align-items: center;
    margin-right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}
.list:last-child {
    margin-right: 0;
}
.contacts-list{
    margin-right: 50px;
}
.header-container {
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 93px;
}

/* контакты */

.mail,
.phone {
    display: block;
    padding-top: 32;
    padding-bottom: 32;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-txt-cl);

}

/* основная часть */
/* hero */
.hero {
    background-color: var(--secondary-bg-cl) ;
}
.title-first {
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--next2-txt-cl);
}
.button {

    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
    margin: 0 auto;
    border-radius: 4px;
    
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--next2-txt-cl);
    background-color: var(--accent-bg-cl);

    cursor: pointer;
    border:none;
}
.button:hover,
.button:focus {
    background-color: #188CE8;
}
.hero-container{
    display: block;

    text-align: center;
    flex-direction:column;
    justify-content:center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero .title-first{
    width: 696px;
    margin-bottom: 30px;
}
/* особенности */

.title-third {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-txt-cl);
}
.features-text {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}
.features-container {
    display: block;
}
.features .features-list {
    display: flex;
}
.features .features-item {
    margin-right: 30px;
}
.features .features-item:last-child {
    margin-right: 0;
}
.features-item {
    width: 270px;
}
.title-third {
    width: 270px;
}
.features .title-third {
    margin-bottom: 10px;
}

/* виды работ */

.work {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-txt-cl);
}
.work-container {
    display: block;
}
.list {
    display: flex;
}
.work-description .work-item {
    margin-right: 30px;
}
.work-description .work-item:last-child {
    margin-right: 0;
}



/* команда */

.employees-container {
    display: block;
}
.employees .team{
    margin-bottom: 50px;
}
.list {
    display: flex;
}
.employees .team-item {
    margin-right: 30px;
}
.employees .team-item:last-child {
    margin-right: 0;
}
.employees .team-item{
    display: block;
}
.img-team {
    margin-bottom: 30px;
}
.title-item {
    margin-bottom: 10px;
}
.team-text {
    margin-bottom: 30px;
}

.employees {
    background-color: var(--next1-bg-cl);
}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-txt-cl);
}
.title-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-txt-cl);
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);
}

/* футер */

.logo-contacts {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-cl);
}
.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--next2-txt-cl);
}
.contacts-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--next2-txt-cl);
}
.contacts-list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
.logo-contacts .footer-container {
display: block;

}

.logo-contacts .logo{
    margin-bottom: 20px;
    display: inline-block;
    
}
.logo-contacts .footer-link {
    display: block;
    max-width: 231px;
}
.logo-contacts .footer-link {
    margin-bottom: 9px;
}
.footer-list {
    padding: 0;
}



/* Portfolio */
.portfolio-container {
    display: block;
}
.filter-list {
    margin-bottom: 34px;
}
/* кнопки фильтра */

.filter-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-txt-cl);
    background-color: var(--next1-bg-cl);
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-bg-cl);
    color: #FFFFFF;
}
.filter-item {
    font-family: inherit;
}
.filter{
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter .filter-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter .filter-item{
    margin-right: 8px;
}
.filter .filter-item:last-child {
    margin-right: 0;
}
.filter-button{
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
}
.filter .work-examples-list{
    display: flex;
    flex-wrap: wrap;
}
.examples-item {
    display: block;
    width: 370px;
    height: 404px;
    padding: 30px;
}
.img-example {
    margin-bottom: 20px;
}
.header-example {
    margin-bottom: 4px;
}
.text-example {
    margin-bottom: 20px;
}
/* примеры работ */

.examples-item {
    background-color: var(--main-bg-cl);
}
.header-example {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--secondary-txt-cl);
}
.text-example {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);
}


